<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hello employer, <%= @user.name %>!</h1>
<p>A new job application is submitted. Please sign in to jobportal with your credentials and check details</p>
</body>
</html>
