<html xmlns="http://www.w3.org/1999/html">
<title>DireWolf</title>
<head>

</head>
<body>
<h1> Welcome to DireWolf Job Portal</h1>
<br>The following actions can be performed:</br>
<%= link_to "Jobs Available", jobs_path %>
</body>
</html>