<center>
  <h3>No recommended jobs to show !</h3> <br>
</center>
  <p>
    Recommended jobs are found, by matching tags(tag1, tag2, tag3) of the jobs with your current job applications.
  </p>

  <p>
    The following can be one of the reasons for recommended jobs to be empty.

<ul>
  <li>
    You have not applied to any job previously.
  </li>
  <li>
    You have deleted all your previous job applications.
  </li>
  <li>
    The tags of the jobs does not match with the tags of your currently applied jobs
  </li>
</ul>
</p>


<h3><%= link_to "BACK", :back %></h3>

